<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
</style>

<div class="search">
        <div class="container">
            <div class="row">
                <form>
                    <div class="col-md-6">
                        <label>Departure</label>
                        <div class="dropdown">
                            <button onclick="myDropdown()" class="dropbtn">Location</button>
                            <div id="depDropdown" class="dropdown-content">
                                <a href="#">Copenhagen</a>
                                <a href="#">London</a>
                                <a href="#">Berlin</a>
                        </div>
                    </div>
                  
                    <div class="col-md-6">
                        <label class="control-label">Date</label>
                        <div>
                            
                            <input type="date">
                        </div>
                    </div> 

                    <div>
                        <div class="col-md-6">
                            <button type="submit" ng-click="searchFlights()" id="search"  class="btn btn-primary">Search flights</button>
                        </div>
                    </div>
                </form>
            </div><!-- /.row -->
        </div><!-- /.container -->
</div><!-- /.searchresult -->

<script>
function myDropdown() {
    document.getElementById("depDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
};
</script>